body {
  font-family: "Poppins", sans-serif;
  background-color: #fff8f0;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7asqZZo5daRtkce3KI_IV953b3Kp5-VyPYg&s)no-repeat center center/cover;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #6b80f7;
  padding: 10px;
  color: rgb(48, 48, 48);
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  height: 100%;
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  flex-direction: column;
}

form input, form button, textarea {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #6d6875;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #85d660;
}

table {
  margin: 20px auto;
  width: 90%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #413e3e;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #464545;
}

footer {
  background-color: #6d6875;
  color: white;
  padding: 10px;
  margin-top: 30px;
}

 .logo img {
      height: 50px;   /* Adjust logo size */
      width: 65px;
      display: flex;
    }

.nav-links {
      display: flex;
      gap: 20px;
    }

    .nav-links a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }

    .nav-links a:hover {
      color: #00bfff;
    }
